services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: pemira
      POSTGRES_PASSWORD: pemira123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
